{
  "presets": ["@babel/preset-env"],
  "env": {
    "browser": {
      "targets": {
        "browsers": "last 2 versions"
      }
    },
    "node": {
      "targets": {
        "node": "current"
      }
    }
  }
}